In [22]:
# Python3 code to demonstrate working of
# Passing dictionary as keyword arguments
# Using ** ( splat ) operator
  
# Helper function to demo this task
def test_func(a = 4, b = 5):
    print("The value of a is : " + str(a))
    print("The value of b is : " + str(b))
  
# initializing dictionary
test_dict = {'a' : 1, 'b' : 2}
  
# printing original dictionary
print("The original dictionary is : " + str(test_dict))
  
# Testing with default values 
print("The default function call yields : ")
test_func()
  
print("\r")
  
# Passing dictionary as keyword arguments
# Using ** ( splat ) operator
print("The function values with splat operator unpacking : ")
test_func(**test_dict)

The original dictionary is : {'a': 1, 'b': 2}
The default function call yields :
The value of a is : 4
The value of b is : 5

The function values with splat operator unpacking :
The value of a is : 1
The value of b is : 2

In [168]:
def func(d):
    #movie = d  
    for key,j in d.items():
        print("key:", key, "Value:", j)
          
# Driver's code
D = {'a':1, 'b':2, 'c':3}
func(D)

key: a Value: 1
key: b Value: 2
key: c Value: 3

In [172]:
def display(*name):
      
    print (name["fname"]+" "+name["mname"]+" "+name["lname"])

def main():
      
    # passing dictionary key-value 
    # pair as arguments
    display("fname" : "John",
            "mname" :"F.", 
            "lname" :"Kennedy")
# Driver's code
main()

SyntaxError: invalid syntax (Temp/ipykernel_16068/568053280.py, line 9)

In [37]:
def num(**n):
    print(n['i'])
    print(n['j'])
    
num(j = 2, i = 3)

3
2

In [43]:
def num(**n):
    for i,j in n.items():
        print(i,j)
num(a=1,b=2,c=3,d=4)
#num(1,2,3,4)

a 1
b 2
c 3
d 4

In [110]:
wiki_movies_raw = [{ 'director': '  ','directed by': '  ', 'imdb': 'test_imdb'},
         { 'director': 'test1','directed by': ' ', 'imdb': 'test_imdb1'},
         { 'director': 'test2','directed by': 'test by2'}]

In [111]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('director' in movie or 'directed by' in movie)
                   and 'imdb' in movie]
print(wiki_movies)

[{'director': '  ', 'directed by': '  ', 'imdb': 'test_imdb'}, {'director': 'test1', 'directed by': ' ', 'imdb': 'test_imdb1'}]

In [112]:
print(type(wiki_movies))

<class 'list'>

In [114]:
wiki_movies = { 'director': 'test ','directed by': 'test by ', 'imdb': 'https://www.imdb.com/title/tt0098987/'}
def change_column_name(old_name, new_name):
    if old_name in wiki_movies:
        wiki_movies[new_name] = wiki_movies.pop(old_name)

In [85]:
change_column_name('directed by', 'director')

In [86]:
print(wiki_movies)

{'director': 'test by ', 'imdb': 'test_imdb'}

In [79]:
wiki_movies = { 'director': 'test ','directed by': 'test by ', 'imdb': 'test_imdb'}
alt_titles = {'a':1,'b':2}
wiki_movies['alt_tit'] = alt_titles
wiki_movies

{'director': 'test ',
 'directed by': 'test by ',
 'imdb': 'test_imdb',
 'alt_tit': {'a': 1, 'b': 2}}

In [80]:
wiki_movies['director']

'test '

In [91]:
import pandas as pd

In [105]:
wiki_movies.items()

dict_items([('director', 'test '), ('directed by', 'test by '), ('imdb', 'https://www.imdb.com/title/tt0098987/')])

In [115]:
wiki_movies_df = pd.DataFrame(wiki_movies.items())

In [116]:
wiki_movies_df

             0                                      1
0     director                                  test
1  directed by                               test by
2         imdb  https://www.imdb.com/title/tt0098987/

In [119]:
wiki_movies_df = pd.DataFrame([wiki_movies])

In [118]:
print([wiki_movies])

[{'director': 'test ', 'directed by': 'test by ', 'imdb': 'https://www.imdb.com/title/tt0098987/'}]

In [120]:
wiki_movies_df

  director directed by                                   imdb
0    test     test by   https://www.imdb.com/title/tt0098987/

In [102]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb'].str.extract(r'(tt\d{7})')

In [103]:
wiki_movies_df

  director directed by                                   imdb    imdb_id
0    test     test by   https://www.imdb.com/title/tt0098987/  tt0098987

In [134]:
box_office = ['$5 million', ['$6,698,361 (, United States, ), [2]'], '$35.8 million',['US$, 4,212,828']]

In [135]:
box_office1 = pd.Series(box_office) 
box_office1

0                               $5 million
1    [$6,698,361 (, United States, ), [2]]
2                            $35.8 million
3                         [US$, 4,212,828]
dtype: object

In [136]:
type(box_office1)

pandas.core.series.Series

In [142]:
def is_not_a_string(x):
    return type(x) != str

In [143]:
box_office1[box_office1.apply(is_not_a_string)]

1    [$6,698,361 (, United States, ), [2]]
3                         [US$, 4,212,828]
dtype: object

In [146]:
import numpy as np

In [147]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -0.725342 -1.036949  1.596454
Ohio   -0.134155 -1.279870 -0.489321
Texas   0.518326 -0.251887 -1.537925
Oregon -0.873364  1.345118  0.875318

In [156]:
f = lambda x: x.max() - x.min()
frame.map(f)
#frame['b'].apply(f)

b    1.391689
d    2.624987
e    3.134379
dtype: float64

In [149]:
0.518326 - (-0.873364)

1.39169

In [174]:
format = lambda x: '%.2f' % x
frame.applymap(format)

            b      d      e
Utah    -0.73  -1.04   1.60
Ohio    -0.13  -1.28  -0.49
Texas    0.52  -0.25  -1.54
Oregon  -0.87   1.35   0.88

In [159]:
frame['e'].map(format)

Utah       1.60
Ohio      -0.49
Texas     -1.54
Oregon     0.88
Name: e, dtype: object

In [186]:
box_office = pd.Series(['$5 million', ['$6,698,361 (, United States, ), [2]'], '$35.8 million',['US$, 4,212,828']])

In [187]:
running_time = box_office.apply(lambda x: '  '.join(x) if type(x) == list else x)

In [188]:
running_time

0                             $5 million
1    $6,698,361 (, United States, ), [2]
2                          $35.8 million
3                         US$, 4,212,828
dtype: object